.carousel-indicators {
  bottom: 0px !important;
}

.pults{
	width: 250px;
	//display: none;
	max-height: 355px;
	overflow: hidden;
}

.tech{
	width: 250px;
	//display: none;
	max-height: 355px;
	overflow: hidden;	
}

.vis-content{
	display: block;
}

.content{
	margin-top: 20px;
	display: flex;
	flex-flow: row wrap;	
	justify-content: space-around;
}

.search-input{
	margin: 20px 0;
}

.subMenu1,.subMenu2,.subMenu3{
	list-style: square;
	margin:0px;
	position: relative;
	display: none;
	margin-top: 5px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.subMenu1 a:hover,.subMenu2 a:hover,.subMenu3 a:hover{
	color:red;
}

.caption h4{
	height: 30px;
}

.desc{
	min-height: 40px;
	max-height: 40px;
	height: 40px;
	overflow: hidden;
}

.contact{
	height: 55px;
	background: red;
}
#contact{
	position: relative;
}
.information{
	background: url(../img/4t.png);
	position: absolute;
	top: 38px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	left: 20px;
	padding-top: 54px;
	padding-left: 10px;
	height: 215px;
	width: 300px;
	z-index: 20;
	display: none;
}
.mob1{
	margin-left: 50px;
}
.information b{
	text-transform: uppercase;
	font-weight: 600;
}
.logo{
	font-family: 'Sigmar One', cursive;
	font-size: 2.25em;
	color:#0AADC9;
}
.search-input{
	/*font-style: italic;*/
	font-family: 'Armata', sans-serif;
	font-size: 1.1em;
}
/*.menuClick{
	font-weight: bold;
	
}
*/

