<!doctype html>
<html lang="en" ng-app="myApp" ng-controller="MyListCtrl">
<head>
  <meta charset="utf-8">
  <title>Pultcher</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="style.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body>
	<h1>Super Jarko! Da Da</h1>
    <div class="container">
        <nav class="navbar navbar-default">
            <a class="navbar-brand" href="#">Pultcher</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Link2</a></li>
                <li><a href="#">Link3</a></li>
                <li><a href="#">Link4</a></li>
              </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col-md-3">
                <div id="myCarousel-left" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#myCarousel-left" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel-left" data-slide-to="1"></li>
                        <li data-target="#myCarousel-left" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img class="first-slide" src="http://lorempixel.com/260/160/technics/" alt="First slide">
                        </div>
                        <div class="item">
                            <img class="second-slide" src="http://lorempixel.com/260/160/business/" alt="Second slide">
                        </div>
                        <div class="item">
                            <img class="third-slide" src="http://lorempixel.com/250/160/people/" alt="Third slide">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel-left" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel-left" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div id="myCarousel-center" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#myCarousel-center" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel-center" data-slide-to="1"></li>
                        <li data-target="#myCarousel-center" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img class="first-slide" src="http://lorempixel.com/555/160/technics/" alt="First slide">
                        </div>
                        <div class="item">
                            <img class="second-slide" src="http://lorempixel.com/555/160/business/" alt="Second slide">
                        </div>
                        <div class="item">
                            <img class="third-slide" src="http://lorempixel.com/555/160/people/" alt="Third slide">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel-center" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel-center" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div id="myCarousel-right" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#myCarousel-right" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel-right" data-slide-to="1"></li>
                        <li data-target="#myCarousel-right" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img class="first-slide" src="http://lorempixel.com/260/160/people/" alt="First slide">
                        </div>
                        <div class="item">
                            <img class="second-slide" src="http://lorempixel.com/260/160/technics/" alt="Second slide">
                        </div>
                        <div class="item">
                            <img class="third-slide" src="http://lorempixel.com/250/160/business/" alt="Third slide">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel-right" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel-right" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Поиск: <input ng-model="query"/>
            </div>
            <div class="col-md-10">
                <ul class="phones">
                    <li ng-repeat="phone in phones | filter:query">
                        <span>{{phone.name}}</span>
                        <p>{{phone.snippet}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/animations.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
</body>
</html>
