.carousel-indicators {
  bottom: 0px !important;
}

.product{
	width: 250px;
	display: inline-block;
	max-height: 355px;
	overflow: hidden;
	
}
.content{
	margin-top: 20px;
	display: flex;
	flex-flow: row wrap;	
	justify-content: space-around;
}

.search-input{
<<<<<<< HEAD
	margin: 20px 0;
}
.subMenu1,.subMenu2,.subMenu3{
	list-style: none;
	margin:0px;
	padding: 0;
	position: relative;
	display: none;
	margin-top: 5px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}
.caprion{
	display: none;
=======

}
.desc{
	min-height: 40px;
	max-height: 40px;
	overflow: hidden;
>>>>>>> fe386a59643125acbfda909c713e11a6c28b6cb2
}